body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background-color: #fafafa;
    color: #333;
}

.intro {
    display: flex;
    flex-direction: column;
}

.title-front img {
    position: absolute;
    z-index: 2;
    
    /* Using vw ensures the image shrinks/grows perfectly with your text scales */
    width: 40vw; 
    height: auto; 
    
    /* Position coordinates */
    right: 0vw; /* Distance from the right edge */
    bottom: -220%; /* Adjust this percentage to slide him perfectly onto your top ledge */
}


h1, h2, h3, p {
    margin: 0;
}

.banner {
    background-color: lightblue;
    height: 30vw;
}


.title-top {
    background-color: #FF89B6;
    height: 4vw;
    
}

.title-front {
    background-color: #f80060;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    font-size: 10vw;
    position: relative;
    top: 0;
}

.greet {
    align-content: center;
}