
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.main {
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    margin: 10px;
}

.main > div {
    flex: 1;
    display: flex;
    align-items: center;
}

.art {
    background: #FF89B6;
    background: linear-gradient(90deg, rgba(255, 137, 182, 0) 0%, rgba(255, 137, 182, 1) 70%);
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(5rem, 20vw, 16rem);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.art a {
    color: #f80060;
}

.dev {
    justify-content: flex-end;
    background: #B4D72E;
    background: linear-gradient(90deg, rgba(180, 215, 46, 1) 30%, rgba(180, 215, 46, 0) 100%);
}

.dev a {
    color: #607A00;
}

.blog {
    background: #FFDA74;
    background: linear-gradient(90deg, rgba(255, 218, 116, 0) 0%, rgba(255, 218, 116, 1) 70%);
}

.blog a {
    color: #E2A600;
}

header, footer {
    background-color: #EEEEEE;
    margin: 0px;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background: #EEEEEE;
    background: linear-gradient(180deg, rgba(238, 238, 238, 0.623) 0%, rgba(232, 232, 232, 0) 100%);
}

footer {
    height: 5rem;
}

p {
    font-weight: bold;
    color: gray;
}

.main > div:hover {
    filter: brightness(1.05); /* Slight highlight on the whole panel */
}

a:hover {
    transform: scale(1.01) rotate(-1deg); /* "Pop" effect with a slight tilt */
    filter: brightness(0.95);
}

a:active {
    transform: scale(0.95); /* Tactile "press" feel */
}

header:hover, footer:hover {
    opacity: 0.8;
}