* {
    box-sizing: border-box; /* Padding won't increase the size of elements */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    

}

.main {
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    padding: 16px;
}

.main > div {
    flex: 1;
    display: flex;
    align-items: center;
}

.art {
    background: #FF89B6;
    background: linear-gradient(90deg, rgba(255, 137, 182, 0) 0%, rgba(255, 137, 182, 1) 70%);
    border-radius: 0 1em 1em 0em;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(5rem, 11vw, 12rem);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.art a {
    color: #f80060;
}

.dev {
    justify-content: flex-end;
    background: #B4D72E;
    background: linear-gradient(90deg, rgba(180, 215, 46, 1) 30%, rgba(180, 215, 46, 0) 100%);
    border-radius: 1em 0 0 1em;
}

.dev a {
    color: #607A00;
}

.blog {
    background: #FFDA74;
    background: linear-gradient(90deg, rgba(255, 218, 116, 0) 0%, rgba(255, 218, 116, 1) 70%);
    border-radius: 0 1em 1em 0;
}

.blog a {
    color: #E2A600;
}

header, footer {
    background-color: #EEEEEE;
    margin: 0px;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

header {
    background: #EEEEEE;
    background: linear-gradient(180deg, rgba(238, 238, 238, 0.623) 0%, rgba(232, 232, 232, 0) 100%);
}

footer {
    height: 5rem;
}

p {
    font-weight: bold;
    color: gray;
}

.main > div:hover {
    filter: brightness(1.05); /* Slight highlight on the whole panel */
}

a:hover {
    transform: scale(1.01) rotate(-1deg); /* "Pop" effect with a slight tilt */
    filter: brightness(0.95);
}

a:active {
    transform: scale(0.95); /* Tactile "press" feel */
}

header:hover, footer:hover {
    opacity: 0.8;
}

.art::selection {
  background: #f80060; /* The highlight color */
  color: #000;         /* The text color when highlighted */
}

.dev::selection {
  background: #B4D72E; /* The highlight color */
  color: #000;         /* The text color when highlighted */
}

.blog::selection {
  background: #FFDA74; /* The highlight color */
  color: #000;         /* The text color when highlighted */
}


/* 
@media (prefers-color-scheme: dark) {
    :root {
        background-color: rgb(35, 32, 46);
    }

    p {
        color: white;
    }

    footer {
        background-color: rgb(28, 28, 37);
    }

    header {
    background: #23222a;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.623) 0%, rgba(232, 232, 232, 0) 100%);
    }

    .art a{
        color: rgb(251, 173, 186);
    }

    .dev a {
        color: rgb(202, 241, 142)
    }

    .blog a {
        color: rgb(240, 233, 161);
    }
} */